@font-face {
  font-family: 'Monoton';
  src: url('./assets/fonts/Monoton-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

:root {
  --lightGrey: #979797;
  --grey: #575757;
  --whiteish: #d3e1ff;
  --red: #e60101;
  --blue: #343ca8;
  --sausageColour: #794d4d;

  background-color: var(--lightGrey);
}

body {
  font-family: Roboto;
}



/* header */
header {
  border-radius: 400px;
  background-color: var(--blue);
  width:fit-content;
  padding: 10px;
}

button {
  border-radius: 40px;
  border: 0px;
  font-family: Roboto;
  font-size: larger;
}

button:hover {
  background-color: var(--lightGrey);
}




#main-box {
  flex: auto;
}




/* Title box */
#title-box {
  background-color: var(--whiteish);
  padding: 20px;
  border-radius: 25% 10%;
  width: fit-content;
  margin-top: 40px;
}

#title {
  font-family: Monoton;
  font-size: 100px;
  color: var(--red);
  animation: slideInFromLeft 2s ease-out forwards; /* Apply the animation */
  position: relative; /* Ensure this is set for absolute positioning of pseudo-elements */
  cursor: pointer; /* So user knows it's interactive */
  margin-bottom: 0px;
}

.sausage {
  display: block;
  position: absolute;
  transition: transform 1s ease-out, opacity 0.75s ease-out; /* Add opacity to the transition */
} 

#sub-title {
  font-family: Monoton;
  color: var(--blue);
  background-color: var(--whiteish);
}


/* Image box */
#image-box {
  background-color: var(--whiteish);
  padding: 20px;
  width: fit-content;
  border-radius: 10% 25%;
  margin-top: 40px;
  text-align: center;
}

#cheeseburger-image {
  border-radius: 10% 25%;
}



/* Animations */
/* Keyframes definition for sliding in from the left */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); /* Start off-screen to the left */
    opacity: 0; /* Make it fully transparent at start */
  }
  100% {
    transform: translateX(0); /* Move to original position */
    opacity: 1; /* Make it fully visible at the end */
  }
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(4); /* Adjust for desired explosion size */
    opacity: 0;
  }
}